<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Stocker</title>
  </head>
  <body class="bg-gray-100 font-roboto">
    <nav class="mb-5 bg-blue-500 p-4 shadow-md">
      <div
        class="container mx-auto flex flex-wrap items-center justify-between gap-4"
      >
        <div class="text-xl font-bold text-white">Stocker</div>
        <form method="post" action="/search/" class="flex items-center">
          <input
            id="search_str"
            name="search_str"
            type="text"
            placeholder="Search..."
            class="rounded-l-lg border border-none px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
          <button
            type="submit"
            class="rounded-r-lg border-none bg-white px-4 py-2 font-bold text-gray-800 hover:bg-gray-200"
          >
            <svg
              class="w-6Ï h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </button>
        </form>
        <div class="flex items-center gap-4">
          <a href="/" class="text-white hover:text-gray-200">Dashboard</a>
          <a href="/fetch" class="text-white hover:text-gray-200">Fetch</a>
        </div>
      </div>
    </nav>

    <div class="container mx-auto">
      <h1 class="text-3xl font-semibold mb-4">Oops ! Something Went Wrong</h1>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="mb-4">
          <h2 class="text-xl font-semibold mb-2">Status Code</h2>
          <p class="text-lg text-gray-700">{{ status_code }}</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-2">Issue Description</h2>
          <p class="text-lg text-gray-700">{{ error_message }}</p>
        </div>
      </div>
      <p class="mt-8 text-gray-600"></p>
    </div>
  </body>
</html>
