<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Stock Information</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="mb-5 bg-blue-500 p-4 shadow-md">
      <div class="container mx-auto flex flex-wrap items-center justify-between gap-4">
        <div class="text-xl font-bold text-white">Stock Information</div>
        <form class="flex items-center">
          <input
            type="text"
            placeholder="Search..."
            class="rounded-l-lg border border-none px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <button class="rounded-r-lg border-none bg-white px-4 py-2 font-bold text-gray-800 hover:bg-gray-200">
            <svg
              class="w-6Ï h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </button>
        </form>
        <div class="flex items-center gap-4">
          <a
            href="/"
            class="text-white hover:text-gray-200"
            >Dashboard</a
          >
          <a
            href="/fetch"
            class="text-white hover:text-gray-200"
            >Fetch</a
          >
        </div>
      </div>
    </nav>

    <div class="container mx-auto">
      <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="p-6">
          <h5 class="text-2xl font-bold text-center mb-4">Stock Information</h5>
          <p class="text-sm text-gray-600 mb-4">Enter the stock symbol and exchange to get the latest stock information.</p>
          <form
            method="post"
            action="/fetch/"
            class="space-y-4"
          >
            <div class="flex flex-col space-y-1">
              <label
                for="symbol"
                class="stock-label"
                >Symbol:</label
              >
              <input
                type="text"
                class="border rounded-md py-2 px-3"
                id="symbol"
                name="symbol"
                placeholder="Enter symbol"
              />
            </div>
            <div class="flex flex-col space-y-1">
              <label
                for="exchange"
                class="stock-label"
                >Exchange:</label
              >
              <select
                class="border rounded-md py-2 px-3"
                id="exchange"
                name="exchange"
              >
                <option value="NSE">NSE</option>
                <option value="INDEX">INDEX</option>
              </select>
            </div>
            <button
              type="submit"
              class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
