<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Stock Information</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto mt-5 p-4">
      <nav class="bg-blue-500 p-4 mb-5 rounded-md shadow-md">
        <div class="container mx-auto flex justify-between items-center">
          <div class="text-white font-bold text-xl">Stock Information</div>
          <div>
            <a
              href="/"
              class="text-white hover:text-gray-200 px-4"
            >
              Dashboard
            </a>
            <a
              href="/fetch"
              class="text-white hover:text-gray-200 px-4"
            >
              Fetch
            </a>
          </div>
        </div>
      </nav>
      <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="p-6">
          <h5 class="text-2xl font-bold text-center mb-4">Stock Information</h5>
          <p class="text-sm text-gray-600 mb-4">Enter the stock symbol and exchange to get the latest stock information.</p>
          <form
            method="post"
            action="/fetch/"
            class="space-y-4"
          >
            <div class="flex flex-col space-y-1">
              <label
                for="symbol"
                class="stock-label"
                >Symbol:</label
              >
              <input
                type="text"
                class="border rounded-md py-2 px-3"
                id="symbol"
                name="symbol"
                placeholder="Enter symbol"
              />
            </div>
            <div class="flex flex-col space-y-1">
              <label
                for="exchange"
                class="stock-label"
                >Exchange:</label
              >
              <select
                class="border rounded-md py-2 px-3"
                id="exchange"
                name="exchange"
              >
                <option value="NSE">NSE</option>
                <option value="INDEX">INDEX</option>
              </select>
            </div>
            <button
              type="submit"
              class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
